* {
  box-sizing: border-box;
}

:root {
  --clr-white:        #FFFFFF;
  --clr-black:        #202020;
  --clr-almost-black: #222222;
  --clr-gray:         #c4c4c4;
}

body {
  background-color: #F1F1F2; /*  #282c34;*/
  color: #1995AD;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';
}

h1 h2 h3 {
  color: #2D4262; /* Indigo */
  justify-content: center;
  text-align: center;
}

.App {
  text-align: center;
}

.App__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App__header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/*.App__title {
  background-color: darkorchid;
  color: white;
  text-align: center;
  justify-content: center;
  border: darkgray;
  border-style: dotted;
}*/

.App__link {
  color: #61dafb;
}

.App__link a {
  color: #61dafb;
}
/* ------------------------------------------------------ */
/* NAVIGATION BAR - (HEADER) */

nav {
  background: var(--clr-black);
  color: var(--clr-white);
  width: 100%;
  padding: 2px;
/*  align-items: center;*/
  justify-content: space-between;
}

.nav__title {
  margin-left: 2px;
  padding-left: 2px;
  align-items: center;
  font: bold;
}

.nav__network {
  text-align: right;
  padding-right: 2px;
  font: bold;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.chain__stats {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid var(--clr-almost-black);
  border-style: groove;
  width: 40%;
  gap: 2em; 
/*  padding-inline-start: 0.5em;*/
  padding: 20px 20px 20px 20px;
  margin: auto 50px auto 800px;
/*  margin-right: 40px;*/
  justify-content: center;
  text-align: left;
}

.chain__stats_left {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid var(--clr-almost-black);
  border-style: groove;
  width: 40%;
  gap: 2em; 
/*  padding-inline-start: 0.5em;*/
  padding: 20px 20px 20px 20px;
  margin: auto 800px auto 50px;
/*  margin-right: 40px;*/
  justify-content: center;
  text-align: left;
}

.chain__stats h1 h2 h3 {
  display: flex;
  flex-wrap: wrap;
  gap: 2em; 
  padding-inline-start: 0.5em;
  padding: 20px 20px 20px 20px;
/*  margin-right:  20px;*/
}


.chain__stats li {
  display: flex;
/*  margin-right: 20px ;*/
  justify-content: space-between;
}

.chain__stats_left li {
  display: flex;
/*  margin-right: 20px ;*/
  justify-content: space-between;
}

.chain__data {
  display: inline-block;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;
  margin: auto 800px auto 50px;
  border: 4px solid var(--clr-almost-black);
  border-style: groove;
}

.chain__data_right {
  display: inline-block;
  flex-wrap: wrap;
  border: 4px solid var(--clr-almost-black);
  border-style: groove;
  width: 50%;
  gap: 2em; 
  padding: 20px;
  margin: auto 50px auto 800px;
  justify-content: center;
}

.chain__data_right h1 h2 h3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2em; 
  padding-inline-start: 0.5em;
  padding: 20px 20px 20px 20px;
}

.chain__data_right li {
  display: inline-block;
  justify-content: left;
  text-align: left;
}

.chain__data h1 h2 h3 {
  display: flex;
  gap: 2em; 
  padding-inline-start: 0.5em;
  padding: 20px;
}

.chain__data ul {
  padding: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
